.app-panel {
    margin-top: 52px;
}

.app-panel-container {
    background-color: #F4F6F8;
    height: auto !important;
    background-image: url("../../assets/background/background.png");
    background-repeat: no-repeat;
    background-position: right;
    min-height: 620px;
}

.app-header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 400px) {
    .app-panel-container {
        min-height: 380px;
    }
}


