body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.collapsible-ebay {
	cursor: pointer;
}

.collapsible-ebay:Hover {
	background-color: #f1f1f1;
}
.pricelabel{
  font-size: 25px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.modaldatalabel{
  display: block;
  font-size: 22px;
  font-weight: 550;
}
.title_header{
  font-size: 25px;
  font-weight: 550;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#titlemodal{
  width: 100%;
  display: block;
  padding: 10px 15px ;
  margin: 10px 0px;
  font-size: 20px ;
  font-weight: 550;
  border: none;
  background-color: rgb(13, 14, 15);
  border-radius: 15px 15px;
  color: white;
}
#titlemodal:focus{
  outline: none;
}
.flexclassdiv{
  display: flex;
  width: 100%;
  margin: 25px 0px ;
}
.flexunderdiv{
  display: block;
  margin-right: 90px ;
}
#protype,#marketplacemodal,#vensermodalid,#typepro,#listingtypemodalid{
  width:100%;
  padding: 10px 10px ;
  margin: 15px 0px ;
  border: none;
  background-color: rgb(16, 17, 17);
  border-radius: 15px 15px;
  font-size: 18px ;
  font-weight: 550;
  color: white;
}
#protype:focus,#marketplacemodal:focus,#vensermodalid:focus,#typepro:focus,#listingtypemodalid:focus{
  outline: none;
}
#modalimagemain{
  display: block;
  width: 30%;
  height: 150px ;
}
#Studiomodal,#Brandmodal,#skumodal,#pricemodal,#Titlemodal,#quantitymodal{
  width:100%;
  padding: 10px 10px ;
  margin: 15px 0px ;
  border: none;
  background-color: rgb(15, 16, 17);
  border-radius: 15px 15px;
  font-size: 18px ;
  font-weight: 550;
  color: white;
}
#Studiomodal:focus,#Brandmodal:focus,#skumodal:focus,#pricemodal:focus,#Titlemodal:focus,#quantitymodal:focus{
  outline: none;
}
#imagemainmodal{
  display: block;
  width: 70%;
  height: 200px ;
  margin: 0px ;
}
.imagefixdiv{
  display: block;
  width:50%;
  margin-right: 60px ;
}
.scrollptag{
  font-size: 18px ;
  font-weight: 500;
}
.cardclsmodalsection{
  margin: 10px 0px ;
}
#textareamodal{
  width: 100%;
  display: block;
  height: 180px ;
  font-size: 18px ;
  font-weight: 550;
  background-color: black;
  color: whitesmoke;
  border-radius: 15px 15px ;
}
#textareamodal:focus{
  outline: none;
}
.plansectionyearly{
  display: flex;
  width: 100%;
  margin: 30px 0px ;
  align-self: center;
  text-align: center;
  justify-content: center;
}
.monthlyyearlyheading{
  display: block;
  font-size: 25px ;
  font-weight: 550;
  margin: 0px 10px ;
}
.marqueeslide{
  display: block;

}
.marqueeslide a{
  font-size: 22px;
  font-weight: 550;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* color: rgb(252, 89, 89);
   */
   color: #ec1b1b;
}
.marqueeslide a:hover{
  color: rgb(123, 28, 247);
}
#editbtnmargin{
  margin-right: 10px;
}

/* #mainmaodalsectioneditbtn{
  border-radius: 20px ;
} */
/* .Polaris-Modal-Dialog__Modal{
  border-radius: 25px;
} */
/* .Polaris-Modal-Header{
   background:linear-gradient(to right, rgb(243, 172, 172) , rgb(255, 255, 49));  
   background-repeat: no-repeat;
   background-position: center center; 
   width: 100%;
   -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;


}
.Polaris-Modal__Body{
  background:linear-gradient(to right, rgb(243, 172, 172) , rgb(255, 255, 49));
  background-repeat: no-repeat;
  background-position: center center; 
  width: 100%;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

  
}
.Polaris-Modal-Footer{

}
.Polaris-Modal-Dialog__Container{
background-color: rgb(0,0,0,0.80);

} */
/* .Polaris-Modal-Dialog__Modal{

} */
.titlemodalchange{
  background: linear-gradient(to right, #8490da, #8897f7);
  padding: 15px 18px ;
  border-radius: 15px 15px ;
  height: 100px ;
  
}
.titlemodalchange p{
  margin: 10px 0px ;
  font-weight: 550;
  

}
.Polaris-Modal-Dialog__Container{
  background-color: rgb(0,0,0,0.80);
} 